body {
    background: #f2f5f9;
    font-family: 'Roboto', sans-serif !important;
}

@media(max-width:992px){
    body{
        padding-top:0
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.carousel {
    width: 100% !important;
    max-height: 300px !important;
    height: 300px !important;
    overflow: hidden !important;
}

    .carousel img {
        width: 100% !important;
        height: 300px !important;
    }

input,
select,
textarea {
    max-width: 280px;
}

.nav_menu_site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

    .nav_menu_site img{
        width:40px;
    }
       @media(max-width:992px){
        .nav_menu_site img {
            width: 100px;
            margin-bottom:10px;
        }
       }




.logo_nav_items {
    display: flex;
    align-items: center;
}

@media(max-width:992px){
    .logo_nav_items {
        flex-direction:column
    }
}

.nav_menu_site ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    list-style: none;
    padding: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}

@media (max-width: 992px) {
    .nav_menu_site ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        right: -350px;
        padding: 20px 10px;
        min-height: 100vh;
        -webkit-transition: .8s;
        -o-transition: .8s;
        transition: .8s;
        z-index: 999;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #343a40;
        bottom: 0;
    }
}
.nav_menu_site ul.open {
    right: 0;
}
@media (max-width: 767px) {
    .nav_menu_site{
        flex-direction:column;
    }
}

.nav_menu_site ul li {
    margin: 0 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 7px 15px;
    text-align:center
}

@media (max-width: 992px) {
    .nav_menu_site ul li {
        margin: 5px;
    }
}

.nav_menu_site ul li:hover {
    background-color: var(--orange-color);
}

.nav_menu_site ul li a {
    color: #fff;
    text-decoration: none;
}

.menu_icon_nav {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #343a40;
    padding: 8px 10px;
    border-radius: 50%;
    z-index: 999;
}

.menu_icon_nav i{
    font-size:20px;
    color:#fff;
}

@media (max-width: 992px) {
    .menu_icon_nav {
        display: block;
    }
}


.search_site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .search_site {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-gap: 21px;
    }
}

.search_site .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .search_site .search input {
        padding: 7px;
        border: 2px solid #ffffffe0;
        outline: none;
        background: none;
        margin-right: 5px;
        border-radius: 8px;
        color:#fff;
    }

@media (max-width: 767px) {
    .search_site .search input {
        width: 100%;
    }
}

.search_site .search button {
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.app_category {
    margin: 15px 0;
}

    .app_category .category_title {
        background: #fbfbfb;
        padding: 7px;
        border: 1px solid #0000003b;
    }
    .app_category .category_title p{
        margin:0;
        font-size:20px;
    }
    .app_category .cards {
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: space-around;
        flex-wrap: wrap;
        grid-column-gap: 10px;
        background: #fff;
        grid-row-gap: 10px;
        box-shadow: 0 0 18px -15px #000;
        border: 1px solid #0000003b;
        padding: 10px;
    }




@media (max-width: 767px) {
    .app_category .cards {
        justify-content: center;
    }
}

.app_category .cards .card {
    width: 150px;
    text-align: center;
    padding: 15px 5px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    justify-content:center;
    text-align:center;
}

@media(max-width:600px){
    .app_category .cards .card{
        width:95px;
    }
}

    .app_category .cards .card i {
        color: #ff6a00;
    }

    .app_category .cards .card img {
        width: 90px;
        height: 90px;
        margin-right: 5px;
    }


.app_category .cards .card div {
    text-align: center;
    width:100%;
}

.app_category .cards .card p, .app_category .cards .card a {
    text-align: center;
    font-size: 16px;
    margin:5px 0;
}

.app_category .cards button {
    background: #7bbf47;
    border:none;
    padding:3px 7px;
    margin-top:5px;
    position:absolute;
    bottom:-60px;
    transition:0.3s;
    width:100%;
    left:0;
}



.search_btns {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    position:relative;
}

.search_btns .btns{
    display: flex;
    grid-column-gap: 5px;
    margin:auto;
}
.search_btns .btns button{
    background:#fff;
    color:#000;
    border:0;
    transition:0.3s
}
    .search_btns .btns button:hover {
        background: #ccc7c7;
        color: #000;
    }
    .search_btns .user_info{
        display:flex;
        align-items:center;
        flex-direction:row-reverse;
        color:#fff;
        text-align:right;
        margin-left:10px;
        position:relative;
    }
@media (max-width: 767px) {
    .search_btns .user_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .search_btns {
        flex-direction: column;
        grid-gap: 21px;
    }
}
        .search_btns .user_info p{
            margin:0
        }
        .img{
            cursor:pointer;
        }
        .search_btns .user_info img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-left:5px;
        }

.search_btns .drop {
    position: absolute;
    background: #e6e6e6;
    top: 50px;
    right: 0;
    padding: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 200px;
    z-index:100000;
}
    @media(max-width:992px){
        .search_btns .drop {
            right: 0;
            width: 186px;
        }
    }
        .search_btns .drop.open{
            opacity:1;
        }

        .search_btns .drop:after {
            content: "";
            position: absolute;
            top: -15px;
            right: 10px;
            border-color: transparent transparent #e6e6e6 transparent;
            border-style: solid;
            border-width: 10px;
        }
    .search_btns .dropdown-content {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
        .search_btns .dropdown-content a {
            font-size: 25px;
            margin-top: 25px;
            text-decoration: none
        }
        .search_btns .dropdown-content img {
            width: 150px;
            height: 150px;
            border-radius:50%;
        }
@media(max-width:992px) {
    .app_category .cards button {
position: relative;
bottom: 0;
}

.app_date {
    display: none;
}

}
.app_category .cards button a {
    color: #fff
}

.card_info {
    position: relative;
    overflow:hidden;
}
.card:hover button{
    bottom:0px;
    text-align:center;
}
    .card_info:hover button a{
        text-decoration:none;
    }
    .card:hover {
        background: #eae7e7;
    }


.loginform {
    width: 50%;
    height: 100vh;
    margin: auto;
    padding: 0 40px;
}

@media (max-width: 767px) {
    .loginform {
        width: 100%;
    }
}

.loginform .login {
    position: relative;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .loginform .login .logo {
        text-align: center;
    }

        .loginform .login .logo img {
            width: 150px;
            height: 150px;
        }

    .loginform .login .box_form {
        background-color: #fff;
        padding: 15px;
        width: 75%;
        margin: 10px auto;
        -webkit-box-shadow: 1px 1px 6px -4px #000;
        box-shadow: 1px 1px 6px -4px #000;
    }

@media (max-width: 767px) {
    .loginform .login .box_form {
        width: 100%;
    }
}

.loginform .login .box_form p {
    text-align: center;
}

.loginform .login .box_form div {
    position: relative;
}

    .loginform .login .box_form div i {
        position: absolute;
        left: 10px;
        top: 10px;
        width:20px;
    }

.loginform .login input, .loginform .login button {
    width: 100%;
    border: 1px solid #00000026;
    padding: 7px 0 7px 30px;
    outline: none;
    font-size: 13px;
    margin: 5px 0;
    max-width: 100%;
}


.loginform .login button {
    margin-top: 8px;
    border-radius: 0;
    padding: 7px;
}

.download_app {
    background: #fff;
    box-shadow: 0 0 18px -15px #000;
    border: 1px solid #0000003b;
    padding: 20px 15px;
    margin-top: 60px;
}

    .download_app .app_card {
        display: flex;
        border-bottom: 1px solid #0000003b;
        padding-bottom:20px;
        align-items:center;
    }
    
.download_app .app_card p{
    font-size:30px;
}



.download_app .app_card button {
    padding: 10px 30px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    background: #24cd77;
    border:0;
    margin-top:10px;
}

    .download_app .app_card i {
        color: #ff6a00;
        font-size:20px;
    }

    .download_app .app_card button a {
        color: #fff;
        font-size: 20px;
    }
    .download_app .app_card img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        margin-right:15px;
    }
    .download_app .app_description {
        border-bottom: 1px solid #0000003b;
        padding-bottom: 20px;
    }
        .download_app .app_description p {
            font-size: 20px;
        }

    .download_app .app_description h1 {
        color: #000;
    }

    .download_app .additional_information .additional_information_content {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }
        .download_app .additional_information .additional_information_content div p{
            font-size:20px;
        }
        .download_app .additional_information .additional_information_content div span {
            display: block;
            font-size:15px;
            text-align:center;
        }

    .download_app .app_card .down {
        font-size: 16px;
    }

@media(max-width:767px) {
    .download_app .app_card {
        flex-direction: column;
        justify-content: center;
        text-align:center;
    }
    .download_app .additional_information .additional_information_content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .download_app h1, p {
        text-align: center;
    }
}

.th_form input {
    width: 100%;
    border: 1px solid #00000026;
    outline: none;
    padding: 12px;
    margin: 5px 0;
    max-width: 100%;
}

.th_form .input {
    display: flex;
    align-items: center;
    grid-column-gap:10px
}

.th_form .input button {
    border: 0;
    outline: none;
    padding: 13px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.th_form .messages p {
    background: #f5f5f5;
    padding: 7px;
    text-align: left;
    margin-bottom: 5px;
    border: 1px solid #00000026;
    word-break: break-word;
}

    .th_form .messages p span {
        color: #0e33e6;
    }

.register {
    width: 50%;
    height: 100vh;
    margin: auto;
    padding: 0 40px;
}

@media (max-width: 767px) {
    .loginform {
        width: 100%;
    }
}

.register .register_form {
    position: relative;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .register .register_form .box_form {
        background-color: #fff;
        padding: 15px;
        width: 75%;
        margin: 10px auto;
        -webkit-box-shadow: 1px 1px 6px -4px #000;
        box-shadow: 1px 1px 6px -4px #000;
    }

@media (max-width: 767px) {
    .register .register_form .box_form {
        width: 100%;
    }
}

.register .register_form .box_form p {
    text-align: center;
}

.register .register_form .box_form div {
    position: relative;
}

    .register .register_form .box_form div i {
        position: absolute;
        left: 10px;
        top: 15px;
    }

.register .register_form input, .register .register_form button {
    width: 100%;
    border: 1px solid #00000026;
    padding: 7px 10px;
    outline: none;
    font-size: 13px;
    margin: 5px 0;
    max-width:100%;
}

.register .register_form input {
    padding: 7px 10px 7px 35px
}

.register .register_form button {
    margin-top: 8px;
    border-radius: 0;
}

.register .register_form .logo {
    text-align: center;
}

    .register .register_form .logo img {
        width: 150px;
        height: 150px;
    }

.contact h1 {
    text-align: center;
    margin: 10px 0;
}

.contact input, .contact textarea, .contact button {
    width: 100%;
    max-width: 100%;
    padding: 8px 5px;
    margin: 10px 0;
    border: 1px solid #0000003a;
    outline: none;
}

.contact button {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .contact button:hover {
        background-color: #fff;
        border: 1px solid #000;
        color: #000;
    }

.contact textarea {
    max-width:100%;
    min-width:100%;
    min-height:300px;
    max-height:300px;
}


.jq-stars {
    display: inline-block;
}

.jq-rating-label {
    font-size: 22px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-family: helvetica, arial, verdana;
}

.jq-star {
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
}

.jq-star-svg {
    padding-left: 3px;
    width: 100%;
    height: 100%;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
    /* stroke: #000; */
    stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
    -webkit-filter: drop-shadow( -2px -2px 2px #888 );
    filter: drop-shadow( -2px -2px 2px #888 );
}
