@{
    ViewBag.Title = "Contact us";
}
<form class="contact" action="">
    <h1>Contact Us</h1>
    <input type="text" placeholder="Your Name"><br>
    <input type="email" placeholder="Your Email"><br>
    <textarea name="" id="" cols="30" rows="10" placeholder="Your mess"></textarea><br>
    <button type="submit">Send</button>
</form>